<div *ngIf="paciente">
  <h2>{{ paciente.nome }} {{ paciente.sobrenome }}</h2>
  <div>
    Nome:
    <input [(ngModel)]="paciente.nome" placeholder="Nome" maxlength="255" />
  </div>
  <div>
    Sobrenome:
    <input
      [(ngModel)]="paciente.sobrenome"
      placeholder="Sobrenome"
      maxlength="255"
    />
  </div>
  <div>
    Data de Nascimento:
    <input
      [(ngModel)]="paciente.dataNascimento"
      placeholder="AAAA-MM-DD"
      type="date"
    />
  </div>
  <div>
    Gênero:
    <select [(ngModel)]="selectedGenero">
      <option *ngFor="let genero of generos" [value]="genero">
        {{ genero }}
      </option>
    </select>
  </div>
  <div>
    CPF:
    <input
      [(ngModel)]="paciente.cpf"
      placeholder="00000000000"
      oninput="this.value = this.value.replace(/[^0-9]/g, '')"
      maxlength="11"
    />
  </div>
  <div>
    RG:
    <input
      [(ngModel)]="paciente.rg"
      placeholder="0000000000"
      oninput="this.value = this.value.replace(/[^0-9]/g, '')"
      maxlength="9"
    />
  </div>
  <div>
    UF do RG:
    <select [(ngModel)]="selectedUfRG">
      <option *ngFor="let UF of UFS" [value]="UF">{{ UF }}</option>
    </select>
  </div>
  <div>
    E-Mail:
    <input [(ngModel)]="paciente.email" placeholder="E-Mail" maxlength="255" />
  </div>
  <div>
    Celular:
    <input
      [(ngModel)]="paciente.celular"
      placeholder="11 dígitos, 11900000000"
      oninput="this.value = this.value.replace(/[^0-9]/g, '')"
      maxlength="11"
    />
  </div>
  <div>
    Telefone:
    <input
      [(ngModel)]="paciente.telefone"
      placeholder="10 dígitos, 1100000000"
      oninput="this.value = this.value.replace(/[^0-9]/g, '')"
      maxlength="10"
    />
  </div>
  <div>
    Carteirinha:
    <input
      [(ngModel)]="paciente.carteirinha"
      placeholder="Carteirinha"
      maxlength="255"
    />
  </div>
  <div>
    Validade da Carteirinha:
    <input
      [(ngModel)]="paciente.carteirinhaValidade"
      placeholder="AAAA-MM-DD"
      type="date"
    />
  </div>
  <div>
    Convênio:
    <select [(ngModel)]="selectedConvenioId">
      <option *ngFor="let convenio of convenios" [value]="convenio.id">
        {{ convenio.nome }}
      </option>
    </select>
  </div>
  <button
    style="background-color: green; color: white; font-weight: bold"
    (click)="
      updatePaciente(paciente, selectedConvenioId, selectedUfRG, selectedGenero)
    "
    *ngIf="paciente.id"
  >
    Salvar
  </button>
  <button
    style="background-color: green; color: white; font-weight: bold"
    (click)="
      createPaciente(paciente, selectedConvenioId, selectedUfRG, selectedGenero)
    "
    *ngIf="!paciente.id"
  >
    Criar
  </button>
</div>
<!-- Display validation errors -->
<div *ngIf="errorMessages.length > 0; else successMessage" style="background-color: lightgray;">
  <p
    *ngFor="let errorMessage of errorMessages"
    style="color: red; font-weight: bold"
  >
    ERROS: {{ errorMessage }}
  </p>
</div>
<ng-template #successMessage>
</ng-template>
