<div *ngIf="paciente">
  <h2>{{ paciente.nome }} {{ paciente.sobrenome }}</h2>
  <div>
    Nome:
    <input [(ngModel)]="paciente.nome" placeholder="Nome" />
  </div>
  <div>
    Sobrenome:
    <input [(ngModel)]="paciente.sobrenome" placeholder="Sobrenome" />
  </div>
  <div>
    Data de Nascimento:
    <input [(ngModel)]="paciente.dataNascimento" placeholder="AAAA-MM-DD" />
  </div>
  <div>
    Gênero:
    <select [(ngModel)]="selectedGenero">
      <option *ngFor="let genero of generos" [value]="genero">
        {{ genero }}
      </option>
    </select>
  </div>
  <div>
    CPF:
    <input [(ngModel)]="paciente.cpf" placeholder="00000000000" />
  </div>
  <div>
    RG:
    <input [(ngModel)]="paciente.rg" placeholder="0000000000" />
  </div>
  <div>
    UF do RG:
    <select [(ngModel)]="selectedUfRG">
      <option *ngFor="let UF of UFS" [value]="UF">{{ UF }}</option>
    </select>
  </div>
  <div>
    E-Mail:
    <input [(ngModel)]="paciente.email" placeholder="E-Mail" />
  </div>
  <div>
    Celular:
    <input
      [(ngModel)]="paciente.celular"
      placeholder="11 dígitos, 11900000000"
    />
  </div>
  <div>
    Telefone:
    <input
      [(ngModel)]="paciente.telefone"
      placeholder="10 dígitos, 1100000000"
    />
  </div>
  <div>
    Carteirinha:
    <input [(ngModel)]="paciente.carteirinha" placeholder="Carteirinha" />
  </div>
  <div>
    Validade da Carteirinha:
    <input
      [(ngModel)]="paciente.carteirinhaValidade"
      placeholder="AAAA-MM-DD"
    />
  </div>
  <div>
    Convênio:
    <select [(ngModel)]="selectedConvenioId">
      <option *ngFor="let convenio of convenios" [value]="convenio.id">
        {{ convenio.nome }}
      </option>
    </select>
  </div>
  <button
    (click)="
      updatePaciente(paciente, selectedConvenioId, selectedUfRG, selectedGenero)
    "
    *ngIf="paciente.id"
  >
    Salvar
  </button>
  <button
    (click)="
      createPaciente(paciente, selectedConvenioId, selectedUfRG, selectedGenero)
    "
    *ngIf="!paciente.id"
  >
    Criar
  </button>
</div>
<!-- Display validation errors -->
<div *ngIf="errorMessages.length > 0">
  <p *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</p>
</div>
