<button
  style="background-color: orange; font-weight: bold"
  (click)="initNewPaciente()"
>
  Criar Novo Paciente
</button>

<table border="1px">
  <thead>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Data de Nascimento</th>
    <th>Gênero</th>
    <th>CPF</th>
    <th>RG</th>
    <th>UF do RG</th>
    <th>E-Mail</th>
    <th>Celular</th>
    <th>Telefone</th>
    <th>Carteirinha</th>
    <th>Validade da Carteirinha</th>
    <th>Convênio</th>
  </thead>
  <tbody>
    <tr *ngFor="let paciente of pacientes">
      <td>{{ paciente.nome }}</td>
      <td>{{ paciente.sobrenome }}</td>
      <td>{{ paciente.dataNascimento | date: 'dd-MM-yyyy' }}</td>
      <td>{{ paciente.genero }}</td>
      <td>{{ paciente.cpf }}</td>
      <td>{{ paciente.rg }}</td>
      <td>{{ paciente.ufRG }}</td>
      <td>{{ paciente.email }}</td>
      <td>{{ paciente.celular }}</td>
      <td>{{ paciente.telefone }}</td>
      <td>{{ paciente.carteirinha }}</td>
      <td>{{ paciente.carteirinhaValidade | date: 'dd-MM-yyyy'  }}</td>
      <td>{{ getConvenioNome(paciente.convenioId) }}</td>
      <td>
        <button
          style="background-color: blue; color: white; font-weight: bold"
          (click)="editPaciente(paciente)"
        >
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-edit-paciente
  [paciente]="pacienteToEdit"
  (pacientesUpdated)="updatePacienteList($event)"
></app-edit-paciente>
